body 
{
    background-color: #2b2b2b;
    align-items :center;
}

.logo
{
	margin : auto;
}

.container 
{
	/*border : 1px solid white;*/
	position : relative;
	max-width : 75%;
	margin : 0 auto;
}

.container .box 
{
	/*border : 1px solid yellow;*/
	position : relative;
	float : left;
	margin : 30px;
}

.fade
{
	background-color : #2b2b2b;
	opacity: 100%;
	transition: 0.5s;
}
.fade:hover
{
	opacity:25%;
}

p 
{
	font-size : 48px;
}

