
@font-face{
    font-family:troian;
    src: url(../fonts/Trajan\ Pro.ttf);
}



*{
    margin: 0;
    padding: 0;
}
body{
    font-family:troian;
    font-size:40px;
    background-color: #0f0f0f;
}

p{
    
    color: white;
}

h1{
    
    text-align: center;
}

h2{
    
    text-align: center;
}
.inceput{
    height: 900px;
    width: 100%;
    background-image: url(../img/bggg.png);
    background-repeat: no-repeat;
    background-size: 1903px 900px;
}

.bara{
    height: 200px;
    background-color: black;
}


.mid{
    width: 100%;
    display: flex;
    background: #0c0d0c;
}

.box1{
    flex: 1;
    background-image: url(../img/cubixbg.png);
    background-size: 75%;
    position: relative;
}

.box2{
    flex: 1;
    background-image: url(../img/ndithbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.box3{
    flex: 1;
    background-image: url(../img/talesbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.box3 p{
    color:#4f524f;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-height: 110px;
}

.video img{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.vot{
    height : 250px;
    position: relative;
    background-color: black;
}

.mp img:hover{
    background-color: green;
}

.mp img{
    max-width:20%;
    max-height: 30%;
    border: 1px solid white;
    /*background-image: url("../img/Coaie_pula.png")*/;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sfarsit{
    /*border: 1px solid white;*/
    background-color: #0f0f0f;
    height: 100px;
}

.flacat{
    margin-left: 38%;
    width: 200px;
    height: 100%;
    /*border: 1px solid white;*/
    background-image: url(../img/FlaCat.png);
    background-size: cover;
    float: left;
}   

.starsky{
    width: 200px;
    height: 100%;
    /*border: 1px solid white; */
    background-image: url(../img/StarSky.png);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 25px;
}

@media screen and (max-width: 768px){
    .mid{
        flex-direction: column;
    }
}
