@font-face
{
	font-family : chalk;
	src : url(fonts/DJBChalkItUp.ttf);

}

body
{
	background-image : url('bg.png');
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-size: 100%;
}

.logo
{
	display: block;
	max-width : 60%;
	height : auto;
	margin-left: auto;
    margin-right: auto;
}

p
{
	font-family : chalk;
	text-align : center;
	color : black;
	font-size : 48;
}

@media screen and (max-width: 768px) {
	p
	{
		visibility: hidden;
	}
}
